body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

hr {
    width: 100%;
    margin: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.full-height {
    height: 100vh;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.truncate-one-line {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-blue {
    color: #0099FF;
}

.text-orange {
    color: orange;
}


