 table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    .list-button {
        width: 250px;
    }

    #taskCreate label {
        padding-top: 5px;
    }

    .modal-dialog-height,
    .modal-content-height {
        height: 77%;
    }

    .modal-dialog-width {
        width: 800px !important;
    }